<p style="text-align: justify">&nbsp;Хлопчик Данилко народився та виріс у Черкасах (це я, якщо що). Ще зі шкільного віку
    я почав цікавитися програмуванням, створюючи свої перші простенькі сайти та програми на уроках інформатики. Це
    захоплення з часом переросло в хобі, і я детальніше розповідаю про це в розділі «Мої захоплення». Після закінчення
    школи я довго вагався з вибором професії, але зрештою обрав автоматизацію. Цей напрямок дозволяє не лише
    програмувати, а й створювати електронні схеми, що для мене є новим і цікавим викликом. Хоча це складно, я впевнений,
    що зможу впоратися. Не шкодую про свій вибір, адже цей напрямок в Україні дуже перспективний."</p>