<p style="margin-bottom: 20px;"> Якщо у є запитання, ідеї або просто бажання поспілкуватися, не соромтеся звертатися
    – я завжди відкритий для нових знайомств і цікавих обговорень.</p>
<b>Мило: kravchenkodan52@gmail.com</b>
<br>
<b>Телефон: +380975421302</b>
<p style="margin-top: 20px;">Знайти мене можна також в соціальних мережах, що наведені в кінці сайту. Пиши, буду радий
    поспілкуватися!</p>