<p style="text-align: justify">&nbsp;
    Ще з дитинства я захоплювався технологіями та програмуванням. Спочатку це були прості програми та вебсайти, які я
    створював із цікавості.
    З часом мої інтереси розширилися, і тепер я віддаю перевагу більш складним та творчим завданням.</p>
<p style="text-align: justify">&nbsp;Одним із моїх найбільших захоплень є розробка комп'ютерних ігор. Раніше я грав у
    них, але тепер створення
    ігор стало для мене набагато цікавішим, ніж сам процес гри. Мене захоплює можливість придумувати і
    реалізовувати унікальні механіки, створювати атмосферу за допомогою графіки та звуку, а також працювати над
    технічними аспектами, такими як оптимізація чи інтеграція нових функцій.</p>
<p style="text-align: justify">&nbsp;Програмування в цілому приносить мені задоволення. Я люблю вирішувати завдання,
    розробляти алгоритми та бачити результат своєї роботи. Це як створення чогось нового з нуля — процес, який завжди
    мотивує.</p>
<p style="text-align: justify">&nbsp;Окрім програмування, мене цікавить світ електроніки. Хоча це відносно нова сфера
    для мене, я із задоволенням вивчаю,
    як працюють різні компоненти, і намагаюся застосовувати ці знання на практиці. Мене особливо захоплює, як можна
    поєднувати програмування та електроніку, щоб створювати інтерактивні пристрої.</p>