<b>Вітаю! Радий бачити тебе на мої персональній веб сторінці! Мене звати Данило, я студент третього курсу спеціальності
    «Автоматизація та комп'ютерно-інтегровані технології».</b>
<p style="text-align: justify; margin-top: 20px">Тут ти зможеш ближче познайомитися зі мною, моїми інтересами,
    досягненнями та життєвими пріоритетами.<br>
    Цей сайт створений для того, щоб відкрити частинку мого світу. Тут можна знайти інформацію про мої хобі,
    які надихають мене, моє навчання, а також про те, що мене цікавить і мотивує рухатися
    вперед.</p>
<br>
<p>На сайті ти також знайдеш розділи, присвячені моїм професійним і особистим досягненням, цілям, до яких я прагну,
    і навіть тим дрібницям, які приносять мені радість у повсякденному житті.</p>

<br>
<p>Досліджуйте всі сторінки сайту, адже кожна з них розповідає про мене з різних сторін.
    Можливо, знайдеш щось спільне або нове для себе.
</p>
<br>
<b>Ласкаво прошу до мого світу!</b>