<p style="text-align: justify">&nbsp;Що стосується моєї групи, то я навчаюся в групі 3-В. Ми підтримуємо одне одного у
    навчанні й завжди готові
    допомогти,
    якщо виникають труднощі. На парах у нас часто буває весело, і це робить навчання більш цікавим та приємним.
    Разом легше справлятися із завданнями та досягати хороших результатів.</p>
<br>
<p>Картинок,на жаль,немає :(</p>