<p style="text-align: justify">&nbsp;Моя спецільності — «Автоматизація та комп'ютерно-інтегровані технології» — дає
    можливість працювати у сучасній
    промисловості, де автоматизація є важливим елементом ефективного виробництва. Завдяки цьому я впевнений у
    перспективності обраної професії.</p>
<img src="/images/1-1.jpg" alt="illustration" class="illustration">
<p>&nbsp;Після закінчення навчання я планую займатися розробкою та впровадженням автоматизованих систем управління для
    підприємств різних галузей. У процесі навчання я отримую знання в таких напрямках, як програмування контролерів,
    робототехніка, проектування
    автоматизованих систем та робота з сенсорними мережами. Моя мета — стати фахівцем, який зможе пропонувати
    інноваційні рішення для
    підвищення ефективності та безпеки виробництва.</p>