<b>Черкаський національний університет імені Богдана Хмельницького: історія та розвиток</b>
<p>&nbsp;Університет було започатковано у 1921 році як Черкаський інститут народної освіти.
    Перший набір студентів становив 214 осіб, а навчання велося на факультеті соціального виховання,
    який мав три відділення: історико-філологічне, природниче та фізико-математичне.
    У 1925 році інститут отримав статус педагогічного технікуму, а у 1933 році став
    Черкаським педагогічним інститутом із трьома факультетами: природничим, фізико-математичним та мовно-літературним.
</p>
<img src="/images/2-1.jpg" alt="illustration" class="illustration">
<p>&nbsp;У 1936 році було створено ботанічний сад, який став важливим навчально-дослідним підрозділом.
    Під час Другої світової війни інститут припинив свою діяльність, але вже у 1944 році відновив навчання.
    У 1959 році підготовка фахівців здійснювалася на чотирьох факультетах,
    а у 1960-х роках додалися факультети іноземних мов та загальнонауковий.
</p>
<img src="/images/2-2.jpg" alt="illustration" class="illustration">
<p>&nbsp;
    Після здобуття незалежності України університет значно модернізував свою діяльність.
    У 1991 році було завершено будівництво восьмиповерхового навчально-лабораторного корпусу,
    а у 1995 році інститут отримав четвертий рівень акредитації.
    Того ж року його реорганізували у Черкаський державний університет імені Богдана Хмельницького.
</p>
<img src="/images/2-3.jpg" alt="illustration" class="illustration">
<p>&nbsp;
    У 2003 році університет отримав статус національного, що стало свідченням його значного внеску у науково-освітній
    процес та формування національної еліти. Сьогодні університет готує фахівців за численними спеціальностями та
    продовжує динамічно розвиватися,
    зберігаючи статус одного з провідних навчальних закладів України.
</p>