* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
}

nav img:first-child {
    display: none;
}

nav img:first-child:hover {
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    width: 200px;
    height: 70px;
    margin-bottom: 10px;
}

.header-links-list li {
    list-style: none;
    text-align: center;
}

.header-links-list a,
#burger-menu a {
    padding: 30px 0;
    color: #000000;
    font-size: 21px;
    text-decoration: none;
    display: block;
    width: 180px;
}

#burger-menu a {
    width: 100%;
}

.header-links-list li:last-child:hover .dropdown-links-list {
    display: flex;
}

.header-links-list li:hover,
#burger-menu li:hover {
    cursor: pointer;
}

.header-links-list li:hover>a,
#burger-menu li:hover>a {
    font-weight: bold;
    background-color: #6da6aa;
    color: #ffffff;
}

.active-link>a {
    background-color: #598689;
    font-weight: bold;
    color: #ffffff;
}

.dropdown-links-list {
    display: none;
    position: absolute;
    background-color: white;
    width: 180px;
    top: var(--top);
    z-index: 1;
}

main {
    background-image: url("./../images/background.jpg");
    background-size: cover;
    padding: 50px;
    flex: 1;
    font-size: 20px;
}

.main-data-wrapper {
    border-radius: 10px;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    opacity: 0.8;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

hr {
    height: 5px;
    border: none;
    background-color: #598689;
    margin-bottom: 20px;
    animation: test 1s linear 1;
    border-radius: 5px;
}

@keyframes test {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.about {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.copyright {
    background-color: #598689;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.social-networks {
    margin: 20px 0;
}

h4 {
    text-align: center;
    color: #598689;
    margin-bottom: 10px;
}

.social-networks {
    margin: 0 auto;
}

.social-networks-links {
    text-align: center;
}

.social-networks-links a img {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.social-networks-links a img:hover {
    opacity: 0.7;
}

.footer-links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer li {
    padding: 30px 40px;
    list-style: none;
    display: block;
    width: 180px;
    text-align: center;
}

footer a {
    color: #000000;
    font-size: 19px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

footer a:hover {
    color: #598689;
    text-decoration-color: #598689;
}

#burger-menu {
    position: absolute;
    left: -294px;
    width: 294px;
    background-color: #ffffff;
    z-index: 3;
    transition: left 0.3s;
}

#burger-menu li {
    list-style: none;
    text-align: center;
}

#burger-menu img {
    margin: 10px 0 0 20px;
}

#burger-menu img:hover {
    cursor: pointer;
}

#splash-screen {
    width: 100%;
    height: var(--height);
    position: absolute;
    z-index: 2;
    background-color: #000000;
    opacity: 0.8;
    display: none;
}

.illustration {
    max-width: 100%;
    display: block;
    height: auto;
    max-height: 400px;
    margin: 10px auto;
    border-radius: 10px;
}